---
import { Image } from 'astro:assets';
import ArrowRight from 'phosphor-astro/ArrowRight.astro';
import { truncateText } from '../functions/helper';

const { featuredBlogs } = Astro.props
// Featured Blog Work
const hasIdKey = 'id' in featuredBlogs;

// const featureBlogDescription = 'id' in blogsData.featureBlog ? blogsData.featureBlog?.description : 'No Description'
// const truncatedDescription = truncateText(featureBlogDescription, 220);

// const date = ('id' in blogsData.featureBlog) ? new Date(blogsData.featureBlog?.date) : 'Invalid Date'
// const dateFinal = ('id' in blogsData.featureBlog) ? date.toLocaleDateString('en-GB', options).toString() : 'Invalid Date'


// interface Props {
//     title: string;
//     description: string;
//     dateCreated: string;
//     imageUrl: string;
// } as Astro.pro



---

<div class="w-[100%] flex flex-row items-start justify-center">
    {
        hasIdKey &&
        <div class="w-[100%] xl:w-[1280px] background-color-home absolute bottom-0 hidden:rounded-b-[24px] pt-[16px] xl:pt-[20px] pb-[20px] pr-[16px] tab:pr-[20px] pl-[16px] tab:pl-[20px] xl:pl-[24px] flex flex-col tab:flex-row justify-between items-center">
            <div class="flex flex-col items-start justify-start xl:w-[570px] tab:w-[420px] w-[100%]">
                <h3 class="font-Inter font-medium text-[15px] tab:text-[17px] xl:text-[20px] leading-[20px] tab:leading-[22px] xl:leading-[24px] tracking-[-0.24px] xl:tracking-[0.38px] pure-white">Featured Blog</h3>
                <div class="w-[85%] bg-gradient-to-r from-white h-[1px] my-[8px] tab:my-[16px] xl:my-[12px] xl:w-[570px]"/>
                <h2 class="font-Syne font-semibold text-[19px] tab:text-[24px] xl:text-[30px] leading-[22px] tab:leading-[28px] xl:leading-[34px] tracking-[-0.41px] tab:tracking-[0.35px] xl:tracking-[0.36px] pure-white mt-[4px] tab:mt-[0px]">{featuredBlogs.blogTitle}</h2>
                <p id="featured-blog-date" class="Caption-1 text-[#E9E9E9] mt-[4px]">{featuredBlogs.date}</p>
                <p class="font-Inter font-normal text-[13px] tab:text-[15px] leading-[18px] tab:leading-[20px] tracking-[-0.08px] tab:tracking-[-0.24px] mt-[12px] pure-white">{featuredBlogs.description}</p>
                
                <button class="flex flex-row items-center justify-center px-[16px] py-[8px] mt-[12px] whitespace-nowrap rounded-[12px] border-[1.5px] home-blog-button">
                    <p class="Footnote-Bold pure-white">{'Read more'}</p>
                    <ArrowRight class='h-[20px] ml-[8px]' color='#FFF' weight="regular" />
                </button>
            </div>

            <div class="w-[100%] tab:w-[280px] xl:w-[408px] h-[144px] tab:h-[223px] xl:h-[231px] rounded-[16px] border-2 pure-white mt-[20px] tab:mt-[20px]">
                {/* <Image 
                    alt="Featured Blog The Return Journey Cover Picture" 
                    src={featuredBlogs.bannerImage[0]} 
                    loading='eager'
                    width={268} 
                    height={144}
                    style="border-radius: 16px; w-[100%] h-[100%]"
                    format='webp'
                    quality={'low'}
                    inferSize={true}
                /> */}
            </div>
        </div>
    }
</div>