---
// CONSTANT VARIABLE
const TRJ_URL = import.meta.env.PUBLIC_TRJ_URL
const BLOG_URL = import.meta.env.PUBLIC_BLOG_URL

const companyOptions = [
    { name: 'Company', url: '' },
    { name: 'About Us', url: `${TRJ_URL}/aboutus` },
    { name: 'TRJ Blogs', url: '/' },
]

const policyOptions = [
    { name: 'Policies', url: '' },
    { name: 'Privacy Policy', url: `${TRJ_URL}/privacypolicy` },
    { name: 'Terms & Conditions', url: `${TRJ_URL}/terms` },
    { name: 'Refund Policy', url: `${TRJ_URL}/refund_policy` }
]
---

<footer class="w-[100%] px-[16px] py-[36px] bg-[#0D0A0B]">
    <div class="w-[100%] flex flex-col items-start justify-start gap-y-[24px] xl:gap-y-[28px]">
        <img alt="The Return Journey Logo" src="https://thereturnjourney.imgix.net/react-webapp/Organisation/logoWhite.webp" class="w-[120px] h-[31px]" />
        <div class="flex flex-col tab:flex-row justify-start items-start gap-y-[16px] tab:gap-y-[0px] gap-x-[0px] tab:gap-x-[66px] w-[100%]">
            <div class="flex flex-col items-start justify-start gap-y-[8px]">
                {
                    companyOptions?.map((item,idx)=>(
                        <a 
                            key={idx}
                            href={item.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class={`${idx > 0 ? 'Subheadline-Inter-Bold text-[#C1C2C6]' : 'Subheadline-Bold text-white'} hover:text-[#FFFFFF]`}>{item.name}</a>
                    ))
                }
            </div>

            <div class="flex flex-col items-start justify-start gap-y-[8px] hover:text-[#FFFFFF]">
                {
                    policyOptions.map((item,idx)=>(
                    <a 
                        key={idx}
                        href={item.url}
                        target="_blank"
                        rel="noopener noreferrer" class={`${idx > 0 ? 'Subheadline-Inter-Bold text-[#C1C2C6]' : 'Subheadline-Bold text-white'} hover:text-[#FFFFFF]`}>{item.name}</a>
                    ))
                }
            </div>

            <div class="flex flex-col items-start justify-start gap-y-[8px]">
                <h3 class="Subheadline-Bold text-white">Contact</h3>
                <a href='mailto:info@thereturnjourney.com' target="_blank" class="Subheadline-Inter-Bold text-[#C1C2C6] hover:text-[#FFFFFF]">
                    {'info@thereturnjourney.com'}
                </a>
                <a href="https://www.google.com/maps/dir/?api=1&destination=18.596462484229175, 73.71762121101115" target="_blank" class="Subheadline-Inter-Bold text-[#C1C2C6] hover:text-[#FFFFFF]">
                    {`910, Gera's Imperium Rise, Hinjewadi Phase II,`}<br/>{`Pune,Maharashtra 411057`}
                </a>
            </div>
        </div>
    </div>
</footer>