---
import { Image } from "astro:assets";
import { imgIXurl } from "../middleware/api";

const Routes = ['Home', 'Itinerary', 'For You', 'Community', 'Horizons']
// https://thereturnjourney.imgix.net/
---

<header class="w-[100%] h-[64px] flex flex-row items-center justify-center absolute top-0 z-10">
    <div class="xl:w-[1280px] w-[100%] bg-white h-[100%] flex flex-row items-center justify-between px-[16px]">
        <div class="flex flex-row items-center justify-start h-[100%]">
            <Image
                src={`${imgIXurl}/react-webapp/Organisation/logo.jpg?lossless=true&w=240&h=62`}
                alt="The Return Journey Logo" 
                format='webp'
                width={120} 
                height={31}
                inferSize={true}
                quality='max'
                loading='eager'
                sizes="120px"
            />
            <div class="xl:flex hidden flex-row items-center justify-start xl:gap-x-[24px] xl:ml-[24px]">
                {
                    Routes.map((item,idx)=>(
                        <p aria-label={`Navbar ${item} Route`} class="Caption-1-Bold night-black">{item}</p>
                    ))
                }
            </div>
        </div>

        <Image
            src={`${imgIXurl}/react-webapp/Account/dummy.png?lossless=true&w=37&h=37`}
            alt="The Return Journey Account Profile Picture" 
            format='avif'
            width={37} 
            height={37}
            inferSize={true}
            quality={80}
            loading='eager'
            sizes="37px"
        />
    </div>
</header>